/* ==================================
                GENERAL CSS
   ================================== */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

/* ==================================
                PAGE 1
   ================================== */

body {
  margin: 0;
  overflow-x: hidden;
}

.first-page {
  background-color: rgba(101, 228, 163, 1);
  width: 1400px;
  height: 473px;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 56px 60px 0 100px;
  font-family: 'Open Sans';
}

header .logo {
  display: flex;
  width: 162px;
  height: 41px;  
  margin-right: 8px;
}

header nav {
  display: flex;
  align-items: center;
}

header nav ul {
  display: flex;
  list-style: none;
  justify-content: center;
  align-items: center;
  margin: 0;
  padding: 0;
}

header nav li {
  cursor: pointer;
  text-decoration: none;
  color: rgb(10, 38, 64);
  font-weight: bold;
  margin-right: 40px;
}

header .button-log-in {
  padding-inline: 40px;
  padding-block: 8px;
  border-radius: 24px;
  border: 2px solid rgb(10, 38, 64);
  color: rgb(10, 38, 64);
  font-weight: bold;
  cursor: pointer;
  text-align: center;
  font-size: 16px;
  transition: 0.15s ease;
}

header .button-log-in:hover {
  background-color: rgb(10, 38, 64);
  color: white;
}

/* ==================================
                PAGE 2
   ================================== */